/* 
    Created on : Jan 15, 2015, 4:51:56 PM
    Author     : olmozavala
*/
@import "compass/css3";

$background_color: #B4CFCD;
$f-color: white;
$f-shadow-color: darken($background_color,10);
$def-border: 15px;
$def-padding: 5px 10px;
$warning-color: #d9534f;

html,body{
	margin: 0px;
	border: 0px;
	width: 100%;
	height: 100%;
	background-color: $background_color;
}

@mixin textHalo($haloColor){
	$haloSize: 1px;
	$haloDisp: 2px;//Halo displacement
	@include text-shadow(   $haloColor 0 $haloDisp $haloSize, 
                            $haloColor $haloDisp 0 $haloSize,
                            $haloColor $haloDisp*-1 0 $haloSize,
                            $haloColor 0 $haloDisp*-1  $haloSize,
                            $haloColor $haloDisp $haloDisp $haloSize,
                            $haloColor $haloDisp*-1 $haloDisp $haloSize,
                            $haloColor $haloDisp $haloDisp*-1 $haloSize,
                            $haloColor $haloDisp*-1  $haloDisp*-1 $haloSize);
}

.defText{
	position: absolute;
	color: $f-color;
}

h2{
	text-align: center;
}

#errorText{
	@extend .defText;
	@include border-radius($def-border);
	background-color: $warning-color;
	padding: $def-padding;
	display: none;
	top: 90%;
	left: 10%;
}

#infoText{
	@extend .defText;
	color: $f-shadow-color;
	background-color: white;
	padding: $def-padding;
	width:400;
	left: 0%;
}

#people{
	@extend .defText;
	color: $f-shadow-color;
	padding: $def-padding;
	bottom: 0px;
	width: 100%;
	background-color: white;
	@include opacity(.9);
}

#googgraph{
	@extend .defText;
	color: $f-shadow-color;
	background-color: white;
	padding: $def-padding;
	width:70%;
	height: 300px;
	bottom: 0px;
	@include opacity(.8);
}

#googgraphcontainer{
	@extend .defText;
	color: $f-shadow-color;
	background-color: white;
	padding: $def-padding;
	width:100%;
	height: 300px;
	bottom: 0px;
	display: none;
	@include opacity(.8);
}

#options{
	@extend .defText;
	color: $f-shadow-color;
	padding: $def-padding;
	width:600;
	left: 50%;
	top: 10%;
}

#mapTitle{
	top: 0%;
	left: 40%;
	@extend .defText;
	@include textHalo($f-shadow-color);
}

#maingraph{
	background-color: $background_color;
}