/* 
    Created on : Jan 15, 2015, 4:51:56 PM
    Author     : olmozavala
*/
/* line 14, ../scss/base.scss */
html, body {
  margin: 0px;
  border: 0px;
  width: 100%;
  height: 100%;
  background-color: #b4cfcd;
}

/* line 35, ../scss/base.scss */
.defText, #errorText, #infoText, #people, #googgraph, #googgraphcontainer, #options, #mapTitle {
  position: absolute;
  color: white;
}

/* line 40, ../scss/base.scss */
h2 {
  text-align: center;
}

/* line 44, ../scss/base.scss */
#errorText {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background-color: #d9534f;
  padding: 5px 10px;
  display: none;
  top: 90%;
  left: 10%;
}

/* line 54, ../scss/base.scss */
#infoText {
  color: #95bbb8;
  background-color: white;
  padding: 5px 10px;
  width: 400;
  left: 0%;
}

/* line 63, ../scss/base.scss */
#people {
  color: #95bbb8;
  padding: 5px 10px;
  bottom: 0px;
  width: 100%;
  background-color: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}

/* line 73, ../scss/base.scss */
#googgraph {
  color: #95bbb8;
  background-color: white;
  padding: 5px 10px;
  width: 70%;
  height: 300px;
  bottom: 0px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 84, ../scss/base.scss */
#googgraphcontainer {
  color: #95bbb8;
  background-color: white;
  padding: 5px 10px;
  width: 100%;
  height: 300px;
  bottom: 0px;
  display: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}

/* line 96, ../scss/base.scss */
#options {
  color: #95bbb8;
  padding: 5px 10px;
  width: 600;
  left: 50%;
  top: 10%;
}

/* line 105, ../scss/base.scss */
#mapTitle {
  top: 0%;
  left: 40%;
  text-shadow: #95bbb8 0 2px 1px, #95bbb8 2px 0 1px, #95bbb8 -2px 0 1px, #95bbb8 0 -2px 1px, #95bbb8 2px 2px 1px, #95bbb8 -2px 2px 1px, #95bbb8 2px -2px 1px, #95bbb8 -2px -2px 1px;
}

/* line 112, ../scss/base.scss */
#maingraph {
  background-color: #b4cfcd;
}
