/* 
    Created on : Jan 15, 2015, 4:51:56 PM
    Author     : olmozavala
*/
/* line 14, ../scss/base.scss */
html, body {
  margin: 0px;
  border: 0px;
  background-color: #495565;
}

/* line 33, ../scss/base.scss */
.defText, #errorText, #mapTitle {
  position: absolute;
  color: white;
}

/* line 38, ../scss/base.scss */
h2 {
  text-align: center;
}

/* line 42, ../scss/base.scss */
#errorText {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  background-color: #d9534f;
  padding: 5px 10px;
  display: none;
  top: 90%;
  left: 10%;
}

/* line 52, ../scss/base.scss */
#mapTitle {
  top: 1%;
  left: 30%;
  text-shadow: #343c47 0 2px 1px, #343c47 2px 0 1px, #343c47 -2px 0 1px, #343c47 0 -2px 1px, #343c47 2px 2px 1px, #343c47 -2px 2px 1px, #343c47 2px -2px 1px, #343c47 -2px -2px 1px;
}

/* line 59, ../scss/base.scss */
#maingraph {
  background-color: #495565;
}
